<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yer Writer</title>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <!-- Centered Title and Subtitle -->
    <div class="centeredSection">
      <h1 class="pageTitle">Dziko Dictionary</h1>
      <p class="bugs_symbols">Yers Yat’kat</p>
    </div>

    <!-- Full-width Grammar Rules -->
    <div class="contextText">
      <h2 class="pageTitle">Some grammar rules:</h2>
        <p>Complexe words are formed by combining core and concept words together. Verbs are concept/core words with volitional prefixes.</p>
        <p>There are no conjugations or gendered words. Default gender is none, and default time is present. There are no articles.</p>
        <p>Word order is generally subject-object-verb. (Exceptions are only made for music and other forms of speech art) Adjectives follow nouns.</p>
        <p>Emotions, intensity, variations and tones are indicated with pheromones. (for convenience, replaced with smileys and or signs for us)</p>
    </div>

    <!-- Full-width Input and Visual Dictionary -->
    <div class="inputSection fullWidth">
      <textarea 
        id="userInput" 
        rows="1" 
        class="inputField fullWidth"
        placeholder="Enter word here..."
      ></textarea>
      <div id="visualDictionary" class="visualDictionary"></div>
    </div>

    <!-- Floating Return Button -->
    <a href="../index.html" class="returnButton">
      <img src="../static/return.png" alt="Return" class="returnIcon">
    </a>

    <!-- Floating OldFont Button -->
    <a href="fontpageold.html" class="IPAButton">
      <img src="../static/cuneiform.png" alt="IPA" class="IPAIcon">
    </a>

    <!-- Floating IPA Button -->
    <a href="IPA.html" class="oldFontButton">
      <img src="../static/soundicon.png" alt="OldFont" class="oldFontIcon">
    </a>

  <script src="../static/dictionary.js"></script>
</body>
</html>
