<link rel="stylesheet" href="https://felina-lain.github.io/Yer-Translator/static/style.css">


<div class="background-overlay">

  
<h1>Dziko Font Converter</h1>
<h5>Yers &nbsp;&nbsp;&nbsp; Yat’kat</h5>
<h2>Human letters to Yer letters</h2>
<h5>TxZy'Fresk'Lan &nbsp;&nbsp;&nbsp; yat &nbsp;&nbsp;&nbsp;  Kor &nbsp;&nbsp;&nbsp; Yer &nbsp;&nbsp;&nbsp; yat</h5>
<br/>
<textboxe>
<textarea class="my-textarea" rows="10" cols="20"></textarea>
<textarea rows="10" cols="20"></textarea>
</textboxe>
    <a href="index.html"><img src="https://felina-lain.github.io/Yer-Translator/static/return.png" class="very-small-img"/></a>

</div>
