<title>Yer Writer</title>
<link rel="stylesheet" href="../static/style.css">

  
<h1>Dziko Dictionary</h1>
<h5>Yers &nbsp;&nbsp;&nbsp; Yat’kat</h5>
<br/>
<spacer-column>
<textarea id="userInput" rows="1" cols="69"></textarea>
<br/><br/>
<div id="visualDictionary"></div>
</spacer-column>
<aligne>
    <a href="../index.html"><img src="../static/return.png" class="very-small-img"/></a>
    <answer-column>
      &nbsp;&nbsp;&nbsp;
      </answer-column>
</aligne>

<script src="../static/script.js"></script>