<title>Yer Writer</title>
<link rel="stylesheet" href="../static/style.css">

  
<h1>Dziko Dictionary</h1>
<h5>Yers &nbsp;&nbsp;&nbsp; Yat’kat</h5>
<br/>
<h2>Some grammar rules:</h2>
<p>Words are formed by combining roots with prefixes and/or suffixes attached to the subject, the verb or the object.
  <br/>
  There are no conjugations or gendered words. Default gender is none, and default time is present. There are no articles.
  <br/>
  Word order is generally subject-object-verb. (Exception are only made for music and other form of speech art) Adjectives follow nouns.
  <br/>
  Emotions and tones indicated with pheromones. (for convenience, replaced with smileys for us)
</p>
<spacer-column>
<textarea id="userInput" rows="1" cols="69"></textarea>
<br/><br/>
<div id="visualDictionary"></div>
</spacer-column>
<aligne>
    <a href="../index.html"><img src="../static/return.png" class="very-small-img"/></a>
    <answer-column>
      &nbsp;&nbsp;&nbsp;
      </answer-column>
</aligne>

<script src="../static/script.js"></script>