<title>Yer Translator</title>
<link rel="stylesheet" href="../static/style.css">

  
<h1>Dziko Number Translator</h1>
<h2>Yer numbers to Human OR Human numbers to Yer</h2>
<h5>Yers &nbsp;&nbsp;&nbsp; Kor &nbsp;&nbsp;&nbsp; TxZy'Fresk'Lan &nbsp;&nbsp;&nbsp; <br/>Ko<br/> &nbsp;&nbsp;&nbsp; TxZy'Fresk'Lan &nbsp;&nbsp;&nbsp; Kor &nbsp;&nbsp;&nbsp; Yers</h5>
<br/>
<ligne>
  <a href="YtoH.html"><img src="../static\bug.svg" class="small-img"/></a>
  <a href="HtoY.html"><img src="../static\man.png" class="small-img"/></a>
</ligne>
<br/><br/><br/><br/>

<aligne>
    <a href="../index.html"><img src="../static/return.png" class="very-small-img"/></a>
    <answer-column>
    </answer-column>
</aligne>

<script src="../static/script.js"></script>