<title>Yer Translator</title>
<link rel="stylesheet" href="../static/style.css">

  
<h1>Dziko Number Translator</h1>
<h2>Yer numbers to Human OR Human numbers to Yer</h2>
<h5>Yers &nbsp;&nbsp;&nbsp; Kor &nbsp;&nbsp;&nbsp; TxZy'Fresk'Lan &nbsp;&nbsp;&nbsp; <br/>Ko<br/> &nbsp;&nbsp;&nbsp; TxZy'Fresk'Lan &nbsp;&nbsp;&nbsp; Kor &nbsp;&nbsp;&nbsp; Yers</h5>
<br/>
<p>
The language uses a base16 system.<br/><br/>
'a (0)<p2>0</p2> 'na (1)<p2>1</p2>'ka (2)<p2>2</p2>'za (3)<p2>3</p2>'ta (4)<p2>4</p2>'sa (5)<p2>5</p2>‘da (6)<p2>6</p2>‘va (7)<p2>7</p2>‘fa (8)<p2>8</p2>‘la (9)<p2>9</p2>‘ra (10)<p2>C</p2>‘ha (11)<p2>J</p2>‘xa (12)<p2>Q</p2>‘ga (13)<p2>W</p2>‘ba (14)<p2>c</p2>‘pa (15)<p2>j</p2>‘ma (16)<p2>q</p2>
<br/><br/>Some specific sounds are used to indicate orders of magnitudes: <p3>-f (16), -v (256), -b (4096), -x (65536), -z (1048576)</p3>
</p>
<ligne>
  <a href="YtoH.html"><img src="../static\bug.svg" class="small-img"/></a>
  <a href="HtoY.html"><img src="../static\man.png" class="small-img"/></a>
</ligne>
<br/><br/><br/><br/>

<aligne>
    <a href="../index.html"><img src="../static/return.png" class="very-small-img"/></a>
    <answer-column>
    </answer-column>
</aligne>

<script src="../static/script.js"></script>