<head>
    <title>Yer Translator</title>
    <link rel="stylesheet" href="static\style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
    
<body>
<h1>Vocabulary</h1>
<h5>'Tx'Yat</h5>
<h2>Yer to Human OR Human to Yer</h2>
<h5>Yers &nbsp;&nbsp;&nbsp; Kor &nbsp;&nbsp;&nbsp; TxZy'Fresk'Lan &nbsp;&nbsp;&nbsp; <br/>Ko<br/> &nbsp;&nbsp;&nbsp; TxZy'Fresk'Lan &nbsp;&nbsp;&nbsp; Kor &nbsp;&nbsp;&nbsp; Yers</h5>
<br/>
<textboxe>
<spacer-column>
    <textarea id="yerWord" class="bugs_symbols" rows="10" cols="10"></textarea>
    <br/>
    <textarea id="pronounciation" rows="8" cols="35" readonly></textarea>
</spacer-column>
<textarea id="humanWord" rows="8" cols="35"></textarea>
</textboxe>
<aligne>
    <a href="../index.html"><img src="../static/return.png" class="very-small-img"/></a>
    <answer-column>
    </answer-column>
</aligne>
    </body>
<script src="../static/script.js"></script>