<title>YtoH</title>
<link rel="stylesheet" href="../static/style.css">

<h1>Dziko Number Translator</h1>
<h5>'Tx &nbsp;&nbsp;&nbsp; 'Yat &nbsp;&nbsp;&nbsp; TxZy</h5>
<h2>Yer to Human</h2>
  <h5>Yers &nbsp;&nbsp;&nbsp; Kor &nbsp;&nbsp;&nbsp; TxZy'Fresk'Lan</h5>

<ligne>
  <input class="bugs_symbols" type="text" id="input_message" name="input_message">
  <input type="submit" id="valider_button" name="Valider">
</ligne>

    <aligne>
    <a href="Nums.html"><img src="../static/return.png" class="very-small-img"/></a>
    <answer-column>
      <h2 id="message"></h2>
    </answer-column>
</aligne>

<script src="../static/script.js"></script>