<link rel="stylesheet" href="/static/style.css">

<div class="background-overlay">

<h1>Dziko Number Translator</h1>
<h5>'Tx &nbsp;&nbsp;&nbsp; 'Yat &nbsp;&nbsp;&nbsp; TxZy</h5>
<h2>Yer to Human</h2>
  <h5>Yers &nbsp;&nbsp;&nbsp; Kor &nbsp;&nbsp;&nbsp; TxZy'Fresk'Lan</h5>

<ligne>
  <form method="POST" action=/YtoH>
    <input type="text" name="input_message">
    <input type="submit" name="Valider">
  </form>
</ligne>

    <aligne>
    <a href="/"><img src="/static/return.png" class="very-small-img"/></a>
    <answer-column>
      <h2>{{message}}</h2>
    </answer-column>
</aligne>

</div>