<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YtoH</title>
  <link rel="stylesheet" href="../static/style.css"> <!-- Link to your custom CSS -->
</head>

<body>
    <!-- Centered Title and Subtitle -->
    <div class="centeredSection">
      <h2 class="pageTitle">Yer to Human</h2>
      <p class="bugs_symbols">Yers Kor TxZy'Fresk'Lan</p>
      <p class="subtitle">Don't forget to input the - for the orders of magnitude, even if you cannot see them!</p>
    </div>

    <!-- Input Section -->
    <div class="inputSection">
      <input
        type="text"
        id="input_message"
        name="input_message"
        class="inputField"
        placeholder="Enter Yer number"
      />
      <input
        type="submit"
        id="valider_button"
        name="Valider"
        value="Convert"
        class="submitButton"
      />
    </div>

    <!-- Answer and Return Button -->
    <div class="answerSection">
        <h2 id="message" class="answerText"></h2>
    </div>

    <!-- Floating Return Button -->
    <a href="Nums.html" class="returnButton">
      <img src="../static/return.png" alt="Return" class="returnIcon">
    </a>

  <script src="../static/script.js"></script>
</body>
</html>